<div class="bans">
  <h2 class="bans_header">BANS</h2>
  <ul>
    <% team.bans(3).each do |cb| %>
      <li>
      <div class="champ-box" type="bans">
        <%= champion_headshot_image(cb.champion) %>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<div class="picks">
  <ul>
    <% team.picks(5).each do |cp| %>
      <li>
        <div class="champ-box" type="picks">
          <%= champion_portrait_image(cp.champion) %>
        </div
        </div> 
      </li>
    <% end %>
  </ul>
</div>