<div class="content right_content team <%= team_name.parameterize.underscore %>">
  <h2 class="team_name"><%= team_name %></h2>
  <%= render partial: "team_info", locals: {team: team_number} %>
  <div class="clear"></div>
</div>