<div class="content team" side="right" id=<%= color %>>
  <h2 class="team-title <%= "#{color}-glow" %>" %><%= color.capitalize %> Team</h2>
  <%= render partial: "team_info", locals: {team: team } %>
  <div class="clear"></div>
</div>