<body>
  <div class="header">
    <h1 class="title">Captain's Mode</h1>
  </div>
  
  <div class="column" type="left">  
    <div class="content champ-select" side="left">
      <ul>
        <% @champions.each do |c| %>
          <li>
            <div class="champ-box" type="champ-select" state=<%= c.name == 'Batman' ? "highlighted" : ""%>>
              <%= champion_headshot_image(c) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div class="column">
    <%= render partial: "team", locals: { team: @lobby.team(:team_one), color: "red" } %>

    <div class="vertical_spacer"></div>
    
    <div class="content right_content timeline" side="right">
      Timeline
    </div>

    <div class="vertical_spacer"></div>
  
    <%= render partial: "team", locals: { team: @lobby.team(:team_two), color: "blue" } %>

    <div class="vertical_spacer"></div>
  
    <div class="content right_content champ_info" side="right">
      Champ Info
    </div>
  </div>

  <div class="clear"></div>
</body>