<body class="container">
  <div class="header">
    <h1 class="title">Captain's Mode</h1>
  </div>
  
  <div class="column">  
    <div class="content left_content champions">
      <ul>
        <% @champions.each do |c| %>
          <li>
            <div class=<%= c.name == 'Batman' ? "selected" : "unselected" %>>
              <a class="glow">
                <%= image_tag(champion_headshot_path(c), class: "character") %>
              </a>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div class="column">
    <%= render partial: "team", locals: { team_name: "Red Team", team_number: :team_one } %>

    <div class="vertical_spacer"></div>
    
    <div class="content right_content timeline">
      Timeline
    </div>

    <div class="vertical_spacer"></div>
  
    <%= render partial: "team", locals: { team_name: "Blue Team", team_number: :team_two } %>

    <div class="vertical_spacer"></div>
  
    <div class="content right_content champ_info">
      Champ Info
    </div>
  </div>

  <div class="clear"></div>
</body>