@import "lobbies/partials/base";

body, form {
  background-color: $bg-color;
  width: 960px; // Static size app
  height: 710px; // Static size app
  margin: 0 auto;
}

.header {
  text-align: right;
  h1 {
    font-size: $title-font-size;
    font-weight: lighter;
    color: $title-color;
  }
  margin-bottom: 6px;
}

.column {
  max-height: 100%;
  width: 50%;
  float: left;
}

.timeline {
  height: 91px;
  padding: 5px 9px;
}

.clear {
  clear: both;
}