$background_color: #171415;
$title_color: #716C6E;
$content_border_color: #D2D2D2;
$content_area_color: #413D3F;
$drop_down_color: #5D5D5D;
$blue_team_color: #29B4EE;
$blue_stroke_color: #114571;
$red_team_color: #FF1914;
$red_stroke_color: #761414;
$ban_color: #DD5300;
$box_stroke: #232122;