$font_stack: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;

$title_font_size: 36pt;
$dropdown_font_size: 18pt;
$team_font_size: 16pt;
$timer_font_size: 30pt;
$info_font_size: 30pt;
$bans_font_size: 10pt;
$label_font_size: 11pt;