$bg-color: #171415;

// Font Coloring
$title-color: #716C6E;
$ban-color: #DD5300;
$blue-team-color: #29B4EE;
$blue-team-bd: #114571;
$red-team-color: #FF1914;
$red-team-bd: #761414;

// Content coloring
$content-bd-color: #D2D2D2;
$content-bg-color: #413D3F;
$content-search-color: #5D5D5D;

// Content - Champion Box
$champion-box-bg-color: #120F10;
$champion-box-bd-unselected: #232122;
$champion-box-bd-selected: #9f9f9f;
$champion-box-glow-color: rgba(113,113,102,0.90);
$champion-box-overlay-color: rgba(0,0,0,0.45);