$font-stack: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;

$title-font-size: 36pt;
$dropdown-font-size: 18pt;
$team-font-size: 16pt;
$timer-font-size: 30pt;
$info-font-size: 30pt;
$bans-font-size: 10pt;
$label-font-size: 11pt;